html, body {
    height: 100%;
}

.container {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-image: linear-gradient(to right top, #2dd50b, #2dcc0a, #2dc409, #2dbb09, #2db308);
}

.mainbox {
    display: flex;
    height: 300px;
    width: 370px;
    margin: auto;
    background-color:rgb(249, 250, 249);
    box-shadow: 0px 4px 5px 3px rgba(18,168,18,1);
}

.flex {
    justify-content: center;
    align-content: center;
    margin: auto;
    border: none;
}

.input {
        font-size: 15px;
        border: none;
        width: 270px;
        padding: 1em;
        line-height: 1.4;
        background-color: rgb(224, 224, 224);
        
}

.input2 {
    font-weight: bold;
    font-size: 15px;
    border: none;
    width: 298px;
    padding: 1em;
    line-height: 1.4;
    background-color: green;
    color: white;
}

p {
    padding-left: 45px;
    color: grey;
}
a {
    color: green;
}

