html, body {
    margin: 0;
}

.header {
    background-color: green;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: white;
    padding: 200px;
}

.header h1 {
    margin: 0;
}

.stranger {
    font-family: 'Spartan', sans-serif;
    text-align: left;
}

.container {
    padding: 100;
}