html, body {
    margin: 0;
}

.header {
    background-color: rgb(54, 158, 54);
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: white;
    padding: 100px;
    
}

.header h1 {
    margin: 0;
}

.stranger {
    font-family: 'Spartan', sans-serif;
    text-align: left;
    padding-left: 100px;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;

}

.desbody    {
    font-family: 'Spartan', sans-serif;
    padding-left: 100px;
}

.buttonboi {
    color: white;
    font-family: 'Spartan', sans-serif;
    background-color: rgb(54, 158, 54);
    border-radius:  10px;
    padding: 20px;
}

.dick {
    text-align: center;
}

.greenyboi {
    color: rgb(39, 240, 39);
    font-family: 'Spartan', sans-serif;
}

.lastboi {
    background-color: rgb(189, 187, 187);
    color: grey;
}

.centretext {
    text-align: center;
}
